* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #1E1B4B;
    --secondary-color: #312E81;
    --accent-color: #8B5CF6;
    --second-accent-color: #6F30FF;
    --error-color: #FF0004;
    --success-color: #14BB41;
    --bronze: #FEB063;
    --gold: #FEC300;
    --silver: #C1BFBF;
    --placeholder-color: #D9D9D9;
    --blank-color: #B3B3B3;
    --light-color: #B798FF;
    --text-color: #F8FAFC;
    --textbox-color: #FFFFFF;
}